.form-wrapper {
  background-color: #fff;
  background-color: var(--md-theme-demo-light-background, #fff);
  color: rgba(0, 0, 0, .87);
  color: var(--md-theme-demo-light-text-primary-on-background, rgba(0, 0, 0, .87));
  width: 96%;
  margin: 25px auto;
  padding: 20px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

html body {
  .md-theme-default a:not(.md-button) {
    color: rgba(0, 0, 0, 0.85);
    color: var(--md-theme-default-primary-on-background, rgba(0, 0, 0, 0.85));

    &:hover {
      color: rgba(0, 0, 0, 0.82);
      color: var(--md-theme-default-primary-on-background, rgba(0, 0, 0, 0.82));
      text-decoration: none;
    }
  }

  .md-field.md-theme-default.md-focused.md-has-textarea:not(.md-autogrow):before {
    border-color: rgba(0, 0, 0, 0.85);
    border-color: var(--md-theme-default-primary, rgba(0, 0, 0, 0.85));
  }

  .md-field.md-theme-default.md-focused label {
    color: rgba(0, 0, 0, 0.54);
  }

  .md-layout {
    justify-content: flex-end;
  }
}

:root {
  --md-theme-default-primary: rgba(0, 0, 0, 0.85) !important;
  -theme-default-primary: rgba(0, 0, 0, 0.85) !important;;
  --md-theme-default-accent: #ff5252;
  --md-theme-default-theme: light;
}
